<div class="log">
  <div class="avatar" style="background: url('{avatar}');"></div>
  <div class="text">
    <div class="log-header">
      <span class="log-uname">{uname}</span>
      <span class="log-timestamp">{timestamp}</span>
    </div>
    <span class="log-content">{content}</span>
  </div>
</div>
