html,
body {
  background: #222222;
  color: white;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

header {
  background: #181818;
  height: 2rem;
  padding: 1rem;
  padding-left: 3rem;
}

h2 {
  margin: 0px;
}

main {
  padding: 40px;
}

.log {
  padding: 8px;
  display: flex;
  flex-direction: row;
}

.avatar {
  height: 64px;
  width: 64px;
  background-size: contain !important;
  border-radius: 50%;
}

.text {
  flex-direction: column;
  margin-left: 8px;
  padding: 6px;
}

.log-header {
  margin-bottom: 6px;
}

.log-uname {
  font-size: 1.2em;
}

.log-timestamp {
  font-size: 0.8em;
  margin-left: 4px;
  opacity: 0.7;
}
